#work_holding_chucks {
    background-color: #F9F9F9;
    /*    background-color: #E2E2E1;*/
}
.heading{
    text-align: center;
}       
.block1{
    width: 30px;
    height: 3px;
    vertical-align: middle;
    background-color:#CF7401; 
    display: inline-block;
}
.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    vertical-align:middle;
    display: inline-block;
    background-color: #CF7401;
}
.Dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    background-color: #CF7401;
}
#work_holding_chucks h1 {
    text-align: center;
    padding: 3% 0%;
    color: #0099CB;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: underline;
    transition: 0.1s;
    display: inline;
    margin: 0px 20px;
}

#work_holding_chucks h1 span {
    color: #020202;
    text-decoration: underline;
}

#work_holding_chucks h1:hover {
    color: #020202;
}

#work_holding_chucks h1:hover > .chucks {
    color: #0099CB!important;
}

.pdt_common {
    width: 100%;
    margin: 5% 0%;
}

.product_description h2 {
    display: inline;
    color: #30332A;
    /*    color: darkgray;*/
    padding: 2%;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.product_description p {
    color: #AEAFAB;
}

.comment i,
.like i,
.fa-wrench {
    font-size: 28px;
    letter-spacing: 5px;
    color: #ACAEA9;
}

.like,
.comment {
    color: #ACAEA9;
    font-size: 28px;
    letter-spacing: 0px;
}

.enquiry {
    width: 100px;
    height: auto;
/*    margin: 0px 15px;*/
    vertical-align: top;
}

.product_img {
    /*    transition: all 0.3s ease-in-out;*/
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.product_img img {
    text-align: center;
    position: relative;
    transform: scale(1);
    width: 100%;
    transition: 0.3s ease-in-out;
    overflow: hidden;
}

.product_img .img_text {
    position: absolute;
    text-align: center;
    bottom: 10%;
    left: 10%;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    border-bottom: 2px solid #fff;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    opacity: 0;
    
}

.product_img:hover img {
    filter: brightness(80%);
    transform: scale(1.2, 1.2);
    overflow: hidden;
    box-shadow: 0.2px 0.2px 5px gray;
}

.product_img:hover span {
    visibility: visible;
    opacity: 1;
}

/*
.product3 .img_text,.product4 .img_text {
    top: 30%;
    left: 10%;
}

.product5 .img_text,.product6 .img_text  {
    top: 20%;
    left: 10%;
}

.product7 .img_text,.product10 .img_text{
    top: 30%;
    left: 10%;
}
*/
.fa-comments:hover{
    color: orangered;
    transition: 0.3s ease-in-out;
}

.fa-heart:hover{
    color: red;
    transition: 0.3s ease-in-out;
}
.fa-wrench:hover{
    color:brown;
    transition: 0.3s ease-in-out;
}